body {
    margin: auto;
    padding: 0;
    font-family: 'Times New Roman', Times, serif;
    background-color: whitesmoke;
}

@media screen and (min-width: 250px) {
    header {
        background-color: rgb(126, 2, 2);
        text-align: center;
    }

    .sc-box {
        margin-right: 2%;
    }

    .sc-img {
        display: none;
        width: 100%;
    }

    .h1-header {
        margin: 0;
        padding: 10px 0px 0px 0px;
        font-size: 30px;
        color: white;
    }

    .sc-form {
        box-sizing: border-box;
    }

    .texto {
        width: 80%;
        margin: auto;
        padding: 5px;
    }

    .ip-select {
        border-radius: 10px;
        border: 2px solid rgba(220, 220, 220, 0.5);
        margin: 10px 10px 10px 29px;
        padding: 10px;
        width: 82%;
    }

    .ip-main {
        border-radius: 10px;
        border: 2px solid rgba(220, 220, 220, 0.5);
        margin: 10px 10px 0px 29px;
        padding: 10px;
        width: 75%;
    }

    .sp-pdr {
        margin-left: 35px;
        font-size: 16px;
    }

    .txt-area {
        resize: none;
        width: 75%;
        height: 40px;
    }

    #botao {
        width: 85%;
        height: 30px;
        border: 2px solid rgb(0, 94, 148);
        margin: 10px 10px 10px 27px;
        background-color: rgba(0, 94, 148, 0.85);
        border-radius: 10px;
        color: white;
    }

    #botao:hover {
        background-color: rgb(0, 94, 148);
    }

    textarea:focus,
    input:focus,
    select:focus {
        box-shadow: 0 0 0 0;
        border: 0 none;
        outline: 0;
        }
    }

    .pla{
        border: 2px solid red;
        margin-right: 2%;
        padding-left: 5px;
        overflow: auto;
        box-sizing: border-box;
    }

    .container-pla{
        border: 2px solid green;
        margin: 5px;
        margin-left: 0px;
        box-sizing: border-box;
        overflow: auto;
    }

    .img-pla{
        width: 20%;
        float: left;
        margin: 10px;
    }
    .txt-pla{
        text-align: justify;
        padding: 10px;
        margin: 10px;
    }

@media screen and (min-width: 370px) {
    header {
        background-color: rgb(126, 2, 2);
        text-align: center;
    }

    .h1-header {
        margin: 0;
        padding: 0;
        font-size: 26px;
        color: white;
    }

    .main {
        position: relative;
        width: 100%;
        margin: 0;
        padding: 0;
        text-align: justify;
        background-color: aliceblue;
    }

    .texto {
        width: 80%;
        margin: auto;
        padding: 5px;
    }

    .ip-main {
        border: 2px solid rgba(220, 220, 220, 0.5);
        margin: 10px 10px 10px 35px;
        padding: 10px;
        width: 285px;
    }

    .sp-pdr {
        margin-left: 35px;
        font-size: 18px;
    }

    #botao {
        width: 225px;
        border: 2px solid rgba(220, 220, 220, 0.5);
        margin: 10px 10px 10px 29px;
        background-color: rgb(255, 255, 255);
    }

    #botao:hover {
        background-color: rgb(0, 94, 148 1);
        color: white;
    }

}

@media screen and (min-width: 750px) {
    header {
        background-color: rgb(126, 2, 2);
        text-align: center;
    }

    img {
        width: 100%;
    }

    .h1-header {
        margin: 0;
        padding: 0;
        font-size: 26px;
        color: white;
    }

    .form {
        box-sizing: border-box;
    }

    .main {
        position: absolute;
        top: 60px;
        right: 350px;
        width: 450px;
        margin: 0;
        padding: 0;
        text-align: justify;
        background-color: rgba(223, 223, 223, 0.384);
    }

    .texto {
        width: 80%;
        margin: auto;
        padding: 5px;
    }

    .ip-main {
        border: 2px solid rgba(220, 220, 220, 0.5);
        margin: 10px 10px 10px 29px;
        padding: 10px;
        width: 200px;
    }

    .sp-pdr {
        margin-left: 35px;
        font-size: 16px;
    }

    #botao {
        width: 225px;
        border: 2px solid rgba(220, 220, 220, 0.5);
        margin: 10px 10px 10px 29px;
        background-color: rgb(255, 255, 255);
    }

    #botao:hover {
        background-color: rgb(0, 94, 148 1);
        color: white;
    }
}

@media screen and (min-width: 1024px) {
    header {
        background-color: rgb(126, 2, 2);
        text-align: center;
        height: 60px;
    }

    .sc-box {
        border: 2px solid green;
        padding: 20px;

    }

    .sc-img {
        display: block;
        width: 100%;
    }

    .h1-header {
        margin: 0;
        padding: 10px 0px 0px 0px;
        font-size: 30px;
        color: white;
    }

    .sc-form {
        border: 2px solid red;
        box-sizing: border-box;
    }

    .sc-main {
        position: absolute;
        top: 80px;
        right: 190px;
        width: 37%;
        margin: 0;
        padding: 0;
        text-align: justify;
        background-color: rgba(223, 223, 223, 0.467);
        color: white;
        border-radius: 10px;
    }

    .texto {
        width: 80%;
        margin: auto;
        padding: 5px;
    }

    .ip-select {
        border-radius: 10px;
        border: 2px solid rgba(220, 220, 220, 0.5);
        margin: 10px 10px 10px 29px;
        padding: 10px;
        width: 82%;
    }

    .ip-main {
        border-radius: 10px;
        border: 2px solid rgba(220, 220, 220, 0.5);
        margin: 10px 10px 0px 29px;
        padding: 10px;
        width: 75%;
    }

    .sp-pdr {
        margin-left: 35px;
        font-size: 16px;
    }

    .txt-area {
        resize: none;
        width: 75%;
        height: 40px;
    }

    #botao {
        width: 85%;
        height: 30px;
        border: 2px solid rgb(0, 94, 148);
        margin: 10px 10px 10px 27px;
        background-color: rgba(0, 94, 148, 0.85);
        border-radius: 10px;
        color: white;
    }

    #botao:hover {
        background-color: rgb(0, 94, 148);
    }

    textarea:focus, input:focus, select:focus {
        box-shadow: 0 0 0 0;
        border: 0 none;
        outline: 0;
    }
}

@media screen and (min-width: 1300px) {
    header {
        background-color: rgb(126, 2, 2);
        text-align: center;
        height: 60px;
    }

    .sc-box {
        border: 2px solid green;
        padding: 20px;

    }

    .sc-img {
        width: 100%;
    }

    .h1-header {
        margin: 0;
        padding: 10px 0px 0px 0px;
        font-size: 30px;
        color: white;
    }

    .sc-form {
        border: 2px solid red;
        box-sizing: border-box;
    }

    .sc-main {
        position: absolute;
        top: 80px;
        right: 190px;
        width: 24.15%;
        margin: 0;
        padding: 0;
        text-align: justify;
        background-color: rgba(223, 223, 223, 0.467);
        color: white;
        border-radius: 10px;
    }

    .texto {
        width: 80%;
        margin: auto;
        padding: 5px;
    }

    .ip-select {
        border-radius: 10px;
        border: 2px solid rgba(220, 220, 220, 0.5);
        margin: 10px 10px 10px 29px;
        padding: 10px;
        width: 82%;
    }

    .ip-main {
        border-radius: 10px;
        border: 2px solid rgba(220, 220, 220, 0.5);
        margin: 10px 10px 0px 29px;
        padding: 10px;
        width: 75%;
    }

    .sp-pdr {
        margin-left: 35px;
        font-size: 16px;
    }

    .txt-area {
        resize: none;
        width: 75%;
        height: 40px;
    }

    #botao {
        width: 85%;
        height: 30px;
        border: 2px solid rgb(0, 94, 148);
        margin: 10px 10px 10px 27px;
        background-color: rgba(0, 94, 148, 0.85);
        border-radius: 10px;
        color: white;
    }

    #botao:hover {
        background-color: rgb(0, 94, 148);
    }

    textarea:focus,
    input:focus,
    select:focus {
        box-shadow: 0 0 0 0;
        border: 0 none;
        outline: 0;
    }
}