input:focus {
  color: red;
}

ul {
  padding-inline: 1.7rem;
}

.item {
  list-style: none;
}

.item:nth-of-type(even) {
  background-color: beige;
}

.item:nth-of-type(odd) {
  background-color: gray;
  color: white;
}
