* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

header > h1 {
  text-align: center;
  margin: 2rem;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1.5rem;
  background-color: #1373f1;
  color: #fff;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #c7cdd3;
}

.gameBoard {
  max-width: 800px;
  display: grid;
  grid-template: repeat(5, 1fr) / repeat(4, 1fr);
}

.card {
  position: relative;
  width: 110px;
  height: 110px;
  margin: 0.5rem;
  transform-style: preserve-3d;
  transition: transform 500ms;
  user-select: none;
}

.card_back,
.card_front {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.45);
  -webkit-box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.45);
  -moz-box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.45);
  backface-visibility: hidden;
}

.card_front {
  transform: rotateY(180deg);
  background-color: #101c2c;
}

.card_back {
  color: #101c2c;
  font-size: 54px;
  font-weight: bold;
  background-color: #05c3ff;
}

.icon {
  width: 70px;
}

.flip {
  transform: rotateY(180deg);
}

#gameOver {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.75);
  color: white;
  font-size: 54px;
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  top: 0;
}

#restart {
  padding: 20px;
  font-size: 20px;
  background-color: yellow;
  border: none;
  margin-top: 2rem;
  font-weight: bold;
  border-radius: 10px;
}

#restart:hover {
  cursor: pointer;
  background-color: rgb(114, 114, 0);
}
