:root {
  --body-bg-color: #22212c;
  --text-color: #837e9f;
  --bg-cards: #302f3d;
  --bg-techs: #cb92b1;
  --gap: 1.75rem;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--body-bg-color);
  color: var(--text-color);
  font-family: 'Merriweather Sans';
  line-height: 1.3;
}

h3 {
  text-align: center;
}

.side-container a,
.my-projects a,
.grid-container a {
  text-decoration: none;
  color: var(--text-color);
}

.side-container a:hover,
.my-projects a:hover {
  text-decoration: underline;
  text-underline-offset: 0.5rem;
  color: var(--text-color);
}

.main-container {
  max-width: 1500px;
  padding: 1rem;
  display: flex;
  margin: auto;
}

.side-container {
  display: flex;
  flex-direction: column;
  gap: var(--gap);
  align-items: center;
  margin-right: 3.75rem;
}

.container {
  width: 80%;
  display: flex;
  gap: var(--gap);
  flex-flow: wrap column;
  user-select: none;
}

.grid-container {
  display: grid;
  column-gap: var(--gap);
  grid-template-columns: repeat(2, 1fr);
}

.card {
  background-color: var(--bg-cards);
  border-radius: 20px;
  padding: 1.5rem;
  width: 100%;

  display: flex;
  flex-direction: column;

  box-shadow: 2px 2px 2px -1px rgba(0, 0, 0, 0.55);
  -webkit-box-shadow: 2px 2px 2px -1px rgba(0, 0, 0, 0.55);
  -moz-box-shadow: 2px 2px 2px -1px rgba(0, 0, 0, 0.55);
}

.posts {
  display: flex;
  flex-direction: column;
  gap: var(--gap);
  justify-content: center;
  align-items: center;
}

.my-projects,
.recent-posts {
  width: 100%;
  padding: 0.55rem;
  display: flex;
  justify-content: space-between;
}

.footer-text {
  margin-top: 1rem;
  font-size: 12px;
  align-self: center;
  font-weight: 400;
}

.circle {
  display: block;
  width: 125px;
  height: 125px;
  border-radius: 50%;
  border: 1px solid #00ff00;
  margin-bottom: 1rem;
  align-self: center;
}

.text-icon {
  display: flex;
  align-items: center;
  width: 100%;
  gap: 1.25rem;
  margin-bottom: 1rem;
}

.icon {
  filter: invert(54%) sepia(13%) saturate(676%) hue-rotate(209deg) brightness(91%) contrast(88%);
}

.stacks-container {
  display: grid;
  gap: 0.35rem;
  grid-template-columns: repeat(3, 1fr);
  margin-top: 0.5rem;
}
.techs {
  background-color: var(--bg-techs);
  color: var(--body-bg-color);
  font-size: 12px;
  font-weight: 700;
  padding: 0.5rem;
  border-radius: 0.5rem;
}

.project-container {
  position: relative;
  display: flex;
  gap: 0.55rem;
  flex-direction: column;
}

.project-content {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.project-header,
.project-footer {
  display: flex;
  gap: 1rem;
  font-size: 12px;
  align-items: center;
}

.language-circle {
  display: block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: yellow;
}

.project-language {
  display: flex;
  gap: 0.5rem;
  align-items: center;
  position: absolute;
  right: 0;
}
