@font-face {
  font-family: csgo;
  src: url(assets/fonts/csgo.ttf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: csgo, "Helvetica Neue", Helvetica, sans-serif;
  letter-spacing: 3px;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: #f1f1f1;
}

header {
  background-color: #35a5a5;
  color: white;
  padding: 1rem;
  text-align: center;
  font-size: 1.5rem;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 2rem;
  margin: 1rem auto;
  min-width: 50vw;
}

button {
  padding: 1rem 3rem;
  border-radius: 6px;
  border: none;
  background-color: rgb(35, 165, 165);
  color: white;
  text-align: center;
  display: block;
  margin: 1.5rem auto;
  font-size: 18px;
}

textarea {
  resize: none;
  border-radius: 6px;
  padding: 12px;
  font-size: 16px;
  width: 100%;
  height: 300px;
  box-sizing: border-box;
  line-height: 1.5rem;
}

img {
  width: 50px;
  margin-right: 0.7rem;
}

.resultContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}
.label {
  text-align: center;
  margin-bottom: 5px;
  font-weight: bold;
  font-size: 28px;
  color: rgb(35, 165, 165);
}

.teamContainer {
  border: 1px solid rgb(216, 213, 213);
  border-radius: 6px;
  width: 300px;
  padding: 1rem 2rem;
  box-shadow: 12px 15px 19px 0px rgba(216, 213, 213, 0.75);
}
.team {
  font-size: 18px;
  padding: 0.75rem 0;
  text-align: center;
}

.legend {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.45rem;
}

.hidden {
  display: none;
}
